<aside>
    <div class="category">
        <div class="aside-title"></div>
    </div>
</aside>
{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}
    {% endblock %}
{% endblock %}
